---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
lang: en
locale: en-US
lang_ref: talks
---

{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% assign page_lang = page.lang | default: "en" %}
{% assign filtered_talks = site.talks | where_exp: "item", "item.lang == nil or item.lang == page_lang" %}
{% if filtered_talks.size == 0 %}
<p>Talks will be added soon.</p>
{% endif %}
{% for post in filtered_talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
