---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
lang: en
locale: en-US
lang_ref: teaching
---

{% include base_path %}

{% assign page_lang = page.lang | default: "en" %}
{% assign filtered_teaching = site.teaching | where_exp: "item", "item.lang == nil or item.lang == page_lang" %}
{% if filtered_teaching.size == 0 %}
<p>Teaching items will be added soon.</p>
{% endif %}
{% for post in filtered_teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
