{% include base_path %}
{% assign page_lang = page.lang | default: "en" %}
{% assign nav_links = site.data.navigation.main %}
{% if page_lang == "zh" and site.data.navigation.main_zh %}
  {% assign nav_links = site.data.navigation.main_zh %}
{% endif %}
{% assign home_url = "/" %}
{% assign home_label = site.title %}
{% if page_lang == "zh" %}
  {% assign home_url = "/zh/" %}
  {% if site.title_zh %}
    {% assign home_label = site.title_zh %}
  {% endif %}
{% endif %}
{% assign is_home = false %}
{% if page_lang == "zh" %}
  {% if page.url == "/zh/" or page.url == "/zh/index.html" %}
    {% assign is_home = true %}
  {% endif %}
{% else %}
  {% if page.url == "/" or page.url == "/index.html" %}
    {% assign is_home = true %}
  {% endif %}
{% endif %}
<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><span class="navicon"></span></button>
        <ul class="visible-links">
          <li class="masthead__menu-item masthead__menu-item--lg persist {% if is_home %}selected{% endif %}">
            <a href="{{ base_path }}{{ home_url }}">{{ home_label }}</a>
          </li>
          {% for link in nav_links %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
            {% else %}
              {% assign domain = base_path %}
            {% endif %}
            <li class="masthead__menu-item {% if page.url contains link.url and link.url != '/' %}selected{% endif %}">
              <a href="{{ domain }}{{ link.url }}">{{ link.title }}</a>
            </li>
          {% endfor %}
          <li id="theme-toggle" class="masthead__menu-item persist tail">
            <a role="button" aria-labelledby="theme-icon"><i id="theme-icon" class="fa-solid fa-sun" aria-hidden="true" title="toggle theme"></i></a>
          </li>
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
